
.hero-section img{
    margin-top: 3%;
    border-radius: 50%;
}



.image-gallery,
.image-gallery-content,
.image-gallery-slide-wrapper,
.image-gallery-slide {
    width:100vw;
    
    
}

.image-gallery-slide img{
    width: 100vw;

    object-fit: cover;
    object-position: center;
   
}

$bg-color: #222;


a {
    color:white;
    text-decoration: none;
    opacity: 85%;
}

a:hover{
    text-decoration: none;
}