@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.f-size{
  font-family: 'Roboto', sans-serif;
}

a:hover{
    color:#ff4d4d ;
}

.open{
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.navTitle{
  position: relative;
  display:block;
  margin-top: 4%;
  margin-left:25% ;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px;
  
}

.navTitle img {
  border-style: solid;
  border: 1px;
}
