
.display-red{
  position: relative;
  top: 25%;
  left: 10%;
 
}

.red-heading{
  margin-right: 10%;
  right:50%;
  margin-bottom: 5%;
 
}

.display-red h1{
  position: flex;
  font-size: 6em;
 
}

.logo img{
  position: relative;
  width: 20%;
  padding-right:80%;
  left:10%;
}

.story-description{
    position: relative;
    width: 80%;
    text-align: center;
    margin-top: 3%;
    left: 5%;
    font-size: 1.8em;
}

