.App {
  text-align: center;
  cursor: default;
}

a{
  opacity: 100%;
}

#container{
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}

.hero-section{
  position: relative;
  height: 100vh;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #61dafb;
}

.red-section{
  position: relative;
  height: 100vh;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ff4d4d;
}

.yellow-section{
  cursor: none;
  position: relative;
  height: 100vh;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffc40c;
}

.perks-section{
  cursor: none;
  position: relative;
  height: 100vh;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color:black;
}

.blue-section{
  cursor: none;
  position: relative;
  height: 100vh;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color:#00CED1;
}

.get-section{
  cursor: none;
  position: relative;
  height: 60vh;
  min-height: 60vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color:black;
}

.footer-section{
  cursor: none;
  position: relative;
  height: 40vh;
  min-height: 40vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color:#6A5ACD;
}